*{margin: 0%;
  padding: 0%;}
.img1{
    height: 120px;
    border-radius: 100%;
    float: left;
}
.img2{
    height: 120px;
    border-radius: 100%;
    float: right;
}
.img3{
    height: 120px;
    border-radius: 100%;
    justify-content: center;
    margin-top: 20%;
    margin-left: 20%;
}
.img4{
    height: 120px;
    border-radius: 100%;
    float: left;
    margin-top: 630px;
}
.img5{ height: 120px;
    border-radius: 100%;
    float: right;
    margin-top: 200px;
    margin-left: 620px;

}
